@use "variables" as *;

#footer {
  margin-top: 4rem;
  display: flex;
  justify-self: center;
  text-align: center;

  justify-content: center;
  padding: 5rem;

  background: $gradient-warm;
  box-shadow: 0 0 3rem $color-background;

  width: 100vw;
}

#footer-content {
  #impressum-logo {
    padding: 0.2rem;
    background-color: rgb(150, 150, 150);
    filter: none;
  }

  .logo-link {
    margin-top: 3rem;
    margin: 3rem 2rem 0 2rem;
    border-radius: 50%;
    filter: invert(60%);
    width: 3rem;
    box-shadow: 0 0 2rem rgba($color-text, 0.8);
    transition: all 0.2s ease;

    &:hover {
      box-shadow: 0 0 3rem rgba($color-text, 0.8);
      transform: scale(1.2);
    }
  }
}
