@use "variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px solid red;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: $color-text;
  overflow-x: hidden;
  background: linear-gradient(45deg, $graphite 0%, $color-background 70%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 400% 400%;
}
